html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

body {
    font-family: "Lato", sans-serif;
}

.container {
    background-color: rgb(231, 228, 228);
    max-width: 900px;
    padding: 20px;
    margin: 0 auto;
}